.entries
  %h3
    ページ一覧
    - if @twitter_account && @twitter_account.admin?
      = link_to 'ページを新規作成する', new_entry_path, class: 'btn btn-primary'
  %p 計 #{Entry.all.count} ページ
  %ul
    - Entry.all.each do |entry|
      %li
        - if @twitter_account && @twitter_account.admin?
          = link_to '編集', edit_entry_path(entry), class: 'btn'
        - cache entry do
          = link_to entry.title, entry_path(entry)
