%ul.nav.nav-pills
  - Game.all.each_with_index do |game, index|
    - cache game do
      %li{ class: index == 0 ? 'active' : '' }
        = link_to game.title, "#game#{game.id}", :'data-toggle' => 'tab'

.tab-content
  - Game.all.each_with_index do |game, index|
    .tab-pane{ id: "game#{game.id}", class: index == 0 ? 'active' : '' }
      = render 'games/game_score_ranking', game: game
