.side_menu
  - side_menu = Entry.where(id: 2).first
  = render_wiki_content(side_menu) if side_menu

  %hr

  %h4 参加サークル(名前順)
  %ul
    - Circle.all.order('name ASC').each do |circle|
      %li
        = link_to circle.name, circle.url
        = "- #{circle.university}"
